.container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.elemento {
    position: absolute;
    top: 50px;
    left: 0;
    width: 55px;
    height: 55px;
    background: black;
    border: 5px solid black;
    border-radius: 35px;
    transition: ease 2s;
}